body{
    font-family: 'Manrope', sans-serif;
    width: 100%;
}

.maindiv{
    max-width: 1300px;
    padding-left: 120px;
    padding-right:120px;
    margin: 0 auto;
}

/* header sections */

.webName img{ 
    width: 35px;
    height: 35px;
}

.webName h1{
    color: #131318;
font-family: Manrope;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.webName span{
    color: #FF4240;
font-family: Manrope;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.menus{
    color: #FF4240;
text-align: center;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.searchs img{
    width: 35px;
    height: 35px;
    
}

.getTicket{
    border-radius: 8px;
background-color: #FF4240;
color: #FFF;
text-align: center;
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.hide{
    display: none;
}


/* banner sections */

.sliderBoxs{
    border-radius: 16px;
background: #131318;
display: inline-flex;
padding: 32px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
position: absolute;
width: 40%;
margin-top: 450px;
margin-left: -600px;
}

.sliderBoxs h2{
    color: #FFF;

font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.sliderBoxs p{
    color: rgba(255, 255, 255, 0.60);

font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
}

/* LineOne */

.lineOne{
    width: 100%;
    height: 2px;
    background: rgba(19, 19, 24, 0.20);
    margin: 0 auto;
    margin-top: 174px;
}



/* SecOne */

.secOne{
    width: 100%;
    padding: 20px;
}


.secOne h1{
    color: #131318;
    text-align: center;
    align-items: center;
    text-align: center;
    font-family: Manrope;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 10px;
}

.secOne p{
    color: rgba(19, 19, 24, 0.60);
    text-align: center;
    align-items: center;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}

.lineTwo{
    width: 100%;
    height: 2px;
    background: rgba(19, 19, 24, 0.20);
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}


/* Sections Two  */

.secTwo h1
{
    color: #131318;

text-align: center;
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.secTwo p{
    color: rgba(19, 19, 24, 0.60);

text-align: center;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}

.proOne div{
    margin-left: 90px;
    margin-bottom: 30px;
}

.proTwo div{
    margin-left: 90px;
    margin-bottom: 30px;
}

.proThree div{
    margin-left: 90px;
    margin-bottom: 30px;
}

.proFour div{
    margin-left: 90px;
    margin-bottom: 30px;
}




/* secThree */

.secThree{
    width: 100%;
    padding: 20px;
}


.secThree h1{
    color: #131318;
    text-align: center;
    align-items: center;
    text-align: center;
    font-family: Manrope;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 10px;
}

.secThree p{
    color: rgba(19, 19, 24, 0.60);
    text-align: center;
    align-items: center;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}


/* section four  */
.secFour{
    width: 100%;
    height: 300px;
}
.fourOne{
    background-image: url("./Images/2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.fourTwo{
    background-image: url("./Images/3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.fourThree{
    background-image: url("./Images/4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.fourOne h1{
    color: #FFF;
    margin-top: 60px;
    font-family: Manrope;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.fourOne p{

    color: #FFF;

    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}



.fourTwo{
    background-image: url("./Images/3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}


.fourTwo h1{
    color: #FFF;
    margin-top: 60px;
    font-family: Manrope;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.fourTwo p{

    color: #FFF;

    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}



.fourThree{
    background-image: url("./Images/4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}


.fourThree h1{
    color: #FFF;
    margin-top: 80px;
    font-family: Manrope;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.fourThree p{

    color: #FFF;

    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}


/* .sections Five  */

.secFive{
    width: 100%;
    height: 300px;
    
}


/* section seven */


.flagsFootball h1{
    color: #131318;

font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.flagsFootball p{
    color: rgba(19, 19, 24, 0.60);

font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
}

.price{
    color: #FF4240;

font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 800;
line-height: 26px; /* 144.444% */
}


.clothCard{
    height: 220px;
}

.headline{
    margin-right: 10px;
    width: 60%;
}

.clothBox {
    width: 49%;
    height: 500px;
    background-color: #f7f7f7;
    border-radius: 10px;
    align-items: center;
    padding: 5px;
}

.sevenImage{
    width: 40%;
    height: 172px;

}

/* section Nine */

.nineImage{
    width: 850px;
    margin-right: 30px;
    height: 788px;
    border-radius: 10%;
}




/* ten */


.TenOne{
    border: 1px solid #e5dada;
    border-radius: 10px;
    height: 500px;
}

.TenOneOne{
    border-radius: 10px;
    width: 70%;
    height: 140px;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    background-color: #e5dada;
    text-align: center;
    padding-top: 20px;
}

.TenOneOne img{
    width: 30px;
    height: 30px;
    align-items: center;
    margin: 0 auto;
}

.TenTwo input{
    border-radius: 8px;
background: rgba(19, 19, 24, 0.03);
height: 34px;
margin-top: 8px;
     
}
/* 
.TenTwoOne input{
    padding: 10px;
} */



.comment {
        width: 100%;
        margin-right: 170px;
        padding: 50px 30px;
}

.TenTwoOne label{
    color: #131318;

    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn{
    background-color: red;
    text-align: center;
    width: 100%;
    color: white;
}


/* social media  */

.social{
    margin-top: 60px;
    background-color: #eddede;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
}

.social h1{
    color: #131318;

text-align: center;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

/* footer section  */

.foot{
    width: 1350px;

    background-color: #131318;
    padding: 0px;
    margin-top: 60px;
    margin-left: -145px;
    border-radius: 10px;
}



.foot h1{
    color: #FFF;

font-family: Manrope;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 15px;
}

.foot p,li,a{
    color: rgba(255, 255, 255, 0.60);

font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */

}

.foot li{
    line-height: 35px;
}






















/* Responsive moblie */

@media screen and (max-width: 600px) {

    .maindiv{
        padding-left: 20px;
        padding-right:20px;
        margin: 0 auto;
    }

    /* header sections */

    .webName{
        align-items: center;
    }
    .webName h1{
        color: #131318;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
    }

    .webName img{
        display: inline;
    }

        
    .menus{
        visibility: hidden;
    }

    .searchs{
        position: absolute;
        margin-left: 268px;
        align-items: center;
    }

    .menubars{
        margin-left: -500px;
    }

    #buttons{
        border-radius: 8px;
        background: #FF4240;
        display: inline-flex;
padding: 8px 17px;
justify-content: center;
align-items: center;
gap: 10px;
    }






/* banner sections */

.sliderBoxs{
    display: flex;
width: 90%;
padding: 16px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
border-radius: 12px;
background: #131318;
margin: 0px;
}

.sliderBoxs h2{
    color: #FFF;

    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sliderBoxs p{
    color: rgba(255, 255, 255, 0.60);

    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}


/* lineOne */

.lineOne{
    width: 100%;
    height: 2px;
    background: rgba(19, 19, 24, 0.20);
    margin: 0 auto;
    margin-top: 174px;
}


/* secOne  */


.secOne h1{
    color: #131318;

text-align: center;
font-family: Manrope;
font-size: 22px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.secOne p{
    color: rgba(19, 19, 24, 0.60);

    text-align: center;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}



/* section Two  */
.secTwo{
    flex-direction: column;
}

.proOne div{
    margin-left: 130px;
    margin-bottom: 30px;
}

.proTwo div{
    margin-left: 130px;
    margin-bottom: 30px;
}

.proThree div{
    margin-left: 130px;
    margin-bottom: 30px;
}

.proFour div{
    margin-left: 130px;
    margin-bottom: 30px;
}

/* secThree  */


.secThree h1{
    color: #131318;
margin-top: 0px;
text-align: center;
font-family: Manrope;
font-size: 22px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.secThree p{
    color: rgba(19, 19, 24, 0.60);

    text-align: center;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}


/* section four  */

.secFour{
    flex-direction: column;
}


.secFive{
    margin-top: 325px;
    
}

.secFive h1{
    margin: 0px;
}

.SevenOne{
    flex-direction: column;
    margin-bottom: 20px;
}

.clothBox{
    width: 100%;
    padding: 0px;
    /* margin-bottom: 80px; */
    
}

.delivery{
    flex-direction: column;
}

.secNine{
    flex-direction: column;
}

.nineImage {
    width: 349px;
    margin-right: 30px;
    height: 400px;
    border-radius: 10%;
}


.secTen{
    flex-direction: column;
}

.TenTwoOne{
    flex-direction: column;
}

.comment{
    margin-right: 10px;
}

/* footer section  */

.mainFooterDiv{
    flex-direction: column;
}


.foot {
    width: 390px;
    background-color: #131318;
    padding: 0px;
    margin-top: 60px;
    margin-left: 0px;
    border-radius: 10px;
    
}

.footerOne{
    width: 100%;
    padding-bottom: 30px;
}
.footerOne h1{
    text-align: center;
}

.logos{
    text-align: center;
    justify-content: center;

}

.searchbar{
    display: none;
}

.menubars{
    display: none;
}

}













